<h1>A NodeJS View</h1>

<form action="/message" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="submit">
    {{#each users}}
        <li>{{this.email}}</li>
    {{/each}}
</form> 